# Project exclude paths
/target/
/.idea/.gitignore
/.idea/compiler.xml
/.idea/jarRepositories.xml
/.idea/misc.xml
/pom.xml
/.idea/uiDesigner.xml
/.idea/vcs.xml
/.idea/workspace.xml
/.idea/modules.xml
/untitled1.iml
/File2.txt
/File1.txt
/Account.bin
/myXML.xml
